<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="WebSocks" value="true"/>
		<add key="BybitApiKey" value = "FyXoxsjoC1rEucQ5Px"/>
		<add key ="BybitSKey" value ="SpQdIFPK5ryP10GTIcApY90spiM3O17h1dMG"/>
		<add key="BitgetApiKey" value="bg_4b48136c35250f56a89ef9e107c73dbc"/>
		<add key="BitgetSKey" value="4511e9f57a1965a805da6ac91dd441a29c1d82978c9885a56b5e2c38d09c64e3"/>
		<add key="BinanceApiKey" value="CAvIjXy3F44yW6Pou5k8Dy1swsYDWJZLeoK2r8G4cFDnE9nosRppc2eKc1T8TRTQ"/>
		<add key="kucoinKey" value="6555c0e50e63c7000134b9d8"/>
		<add key ="kucoinS" value="78325814-06a7-40fc-8444-25ca12a4bab5"/>
		<add key="BitgetP" value="ssl02021943"/>
	</appSettings>
</configuration>